<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @amenity_patio.name %>
</p>

<%= link_to 'Edit', edit_amenity_patio_path(@amenity_patio) %> |
<%= link_to 'Back', amenity_patios_path %>
