<% additional_row_data_temp = additional_row_data - [nil] %>
<% if !additional_row_data_temp.empty? %>
    <tr>
      <td style="border-right-width: 0;">&nbsp;</td>
      <td style="border-right-width: 0;">&nbsp;</td>
      <td style="border-right-width: 0;">&nbsp;</td>
      <td style="border-right-width: 0;">&nbsp;</td>
      <td style="border-right-width: 0;">&nbsp;</td>
      <td style="border-right-width: 0;">&nbsp;</td>
      <td style="border-right-width: 0;">&nbsp;</td>
      <% additional_row_data.each do |comp| %>
          <% if comp == nil %>
              <td class="width-175 border-separator">&nbsp;</td>
              <td class="width-75">&nbsp;</td>
              <td class="width-75">&nbsp;</td>
          <% else %>
              <%= render partial: "three_fields", locals: {comp: comp} %>
          <% end %>
      <% end %>
    </tr>
<% end %>