<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @amenity_concierge.name %>
</p>

<%= link_to 'Edit', edit_amenity_concierge_path(@amenity_concierge) %> |
<%= link_to 'Back', amenity_concierges_path %>
