<div class="building-form">

	<h1><%= @building.name %></h1>

	<%= render 'form' %>
	<br>
	<%= link_to 'Delete this Building and all of its apartments and related data', @building, method: :delete, data: { confirm: 'Are you sure?' } %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <%= render partial: "/building_occupancies/list", locals: { building_occupancies: @building_occupancies } %>
    <br>

</div>