$border-color: #ccc;

%base-column {
  padding-left: 10px;
  vertical-align: middle;
}

%banded-table {
  > tbody {
    > tr {
      line-height: 2em;
      border-bottom: 1px solid $border-color;
      transition: background 0.1s ease-in-out;

      &:first-child {
        border-top: 1px solid $border-color;
      }

      &.even {
        background: #f9f9f9 !important;
      }

      &:hover {
        background: rgb(173, 202, 230) !important;
      }

      > td {
        @extend %base-column;
        border-right: 1px solid $border-color;
      }
    }
  }

  .border-separator {
    border-left: 2px solid $border-color;
  }
}