$border-color: #ccc;

%base-column {
  padding-left: 10px;
  vertical-align: middle;
}

%banded-table {
  > tbody {
    > tr {
      border-bottom: 1px solid $border-color;

      &:first-child {
        border-top: 1px solid $border-color;
      }

      &.even {
        background: #f9f9f9;
      }

      > td {
        @extend %base-column;
        border-right: 1px solid $border-color;
      }
    }
  }
}