// Place all the styles related to the comp_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'tables';

$border-color: #ccc;

.dataTable {
  th {
    @extend %base-column;
  }
}

.DTFC_LeftBodyLiner {
  background: #fff;
}

.comp-table {
  @extend %banded-table;
}

.comp-group-shade {
  background-color: #f8f8f8;
}

th.comp-group-shade {
  border-left: 1px solid $border-color;
}