.page--login {
  background: url(image_path('login-background-1.jpg'));
  background-size: cover;

  .main-wrapper {
    display: table;
    height: 100%;

    .session-form-outer {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.session-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #eee;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 4px;

  h2 {
    text-align: center;
    margin-top: 0;
  }

  .field {
    margin: 0 0 10px;
  }

  input[type='text'],
  input[type='password'] {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border-color: #aaa;
    }
  }

  .btn {
    display: block;
    width: 100%;
  }
}