<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @amenity_ceiling.name %>
</p>

<%= link_to 'Edit', edit_amenity_ceiling_path(@amenity_ceiling) %> |
<%= link_to 'Back', amenity_ceilings_path %>
